/* CSS Document */
/* Desktop Layout.css */

:root {
    --selected_bg_color: gray;
    --button_bg_color: orange;
    --income_category_bg_color: green;
    --expense_category_bg_color: red;
    --future_day_color: darkslateblue;
    --current_day_color: green;
}

body {
	background-color: lightblue;
}

.main-image {
	width: 100%;
}

.img_center { 
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
}


.align_right {
    text-align: right;
}

p {
	font-size: 24px;
    padding: 0;
    margin: 0;
}

p2 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

.register_form_grid {
	display: grid;
	grid-template-columns: 20% 40% auto;
}

.inputform {
    width: 100%;
    height: 30px;
}

.error {
    display: none;
    font-size: 12pt;
    color: red;
}

.menu_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu_option {  
    border: 1px solid black;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 300px;
    background-color: lightseagreen;
}

.accountsetup_form_grid {
    display: grid;
	grid-template-columns: 20% 40% auto;
}

.header_grid {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/* 1366 x 768 */
@media only screen 
and (min-width : 1224px){
  .transaction_grid {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 72pt 325pt 1fr;
}
}

/* 1366 x 768 */
@media only screen 
and (min-width : 1224px)
and (resolution: 120dpi){
.transaction_grid {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 72pt 432pt 1fr;
}
}

/* 22" Screen */
@media only screen 
and (min-width : 1824px) {
    .transaction_grid {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 72pt 576pt 1fr;
}
}

.print_grid {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 10% 1fr;
}

.transaction_item {
	display: grid;
	grid-template-columns: 15% 20% 10% 10% 10% 5% 1fr;
	grid-template-rows: 50% 50%;
    border-style: solid;
    margin: 5px;
    cursor: pointer;
}

.transaction_item:hover {
    background-color: var(--selected_bg_color);
}

.account_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 1fr;
}

.main_button_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.buttom_item {
    background-color: var(--button_bg_color);
    border-style: solid;
    margin: 5px;
    cursor: pointer;
}

.overflow {
    height: 100%;
    overflow: auto;
}

.account_item {
    border-style: solid;
    margin: 5px;
    cursor: pointer;
}

.solid_box {
    border-style: solid;
    padding: 3px;
    margin:  3px;
    
}

.selected {
    background-color: var(--selected_bg_color);
}

/* add_transaction.php form */

.add_transaction_grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#trans_date_label {
    grid-column: 1;
    grid-row: 1;
}

#trans_date_field {
    grid-column: 2;
    grid-row: 1;
}

#payee_label {
    grid-column: 1;
    grid-row: 2;
}

#payee_field {
    grid-column: 2 / 4;
    grid-row: 2;
}

#amount_label {
    grid-column: 4;
    grid-row:  2;
}

#amount_field {
    grid-column: 5;
    grid-row: 2;
}

#category_label {
    grid-column: 1;
    grid-row: 3;
}

#category_field {
    grid-column: 2 / 4;
    grid-row: 3;
}

#memo_label {
    grid-column: 1;
    grid-row: 4;
}

#memo_field {
    grid-column: 2 / 4;
    grid-row: 4;
}

#trans_submit_field {
    grid-column: 3;
    grid-row: 5;
}

.income_category_item {
    background-color: var(--income_category_bg_color);
}

.expense_category_item {
    background-color: var(--expense_category_bg_color);
}

.future_day {
    color: var(--future_day_color);
}

.current_day {
    color: var(--current_day_color);
}

.privacy_grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.hide {
    display: none;
}